logs
target
/.bsp
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID


.g8/
.gitignore
area5-fondo.jpg
bin/
mada_aws.iml
mada_aws2/.gitignore
mada_aws2/.idea/.gitignore
mada_aws2/.idea/misc.xml
mada_aws2/.idea/modules.xml
mada_aws2/.idea/vcs.xml
mada_aws2/mada_aws2.iml
mada_aws2/src/
test/
target/
project/target/

# Build
target/
project/target/
.bsp/
logs/
.DS_Store
