

table {
  font-size: 100%; /* 100% = 16px */
}

.left {text-align: left;}
.center {text-align: center;}
.right {text-align: right;}

.height23px {height: 23px;}

.font10px {font-size:10px;}

.width20px {width: 20px;}
.width40px {width: 40px;}
.width60px {width: 60px;}
.width80px {width: 80px;}
.width100px {width: 100px;}
.width120px {width: 120px;}
.width140px {width: 140px;}
.width160px {width: 160px;}
.width180px {width: 180px;}
.width200px {width: 200px;}

div.dataTables_wrapper div.dataTables_filter input{margin-left:0.5em;display:inline-block;width:230px}

.table tr td:first-child { vertical-align: middle; padding-left:5px; padding-right:5px }
.table tr td:first-child + td { vertical-align: middle; padding-left:5px; padding-right:5px } 
.table tr td:first-child + td  + td{ vertical-align: middle; padding-left:5px; padding-right:5px }
.table tr td:first-child + td  + td + td{ vertical-align: middle; padding-left:5px; padding-right:5px }
.table tr td:first-child + td  + td + td + td{ vertical-align: middle; padding-left:5px; padding-right:5px }
.table tr td:first-child + td  + td + td + td + td{ vertical-align: middle; padding-left:5px; padding-right:5px }
.table tr td:first-child + td  + td + td + td + td + td{ vertical-align: middle; padding-left:5px; padding-right:5px }
.table tr td:first-child + td  + td + td + td + td + td + td{ vertical-align: middle; padding-left:5px; padding-right:5px }
.table tr td:first-child + td  + td + td + td + td + td + td + td{ vertical-align: middle; padding-left:5px; padding-right:5px }
.table tr td:first-child + td  + td + td + td + td + td + td + td + td{ vertical-align: middle; padding-left:5px; padding-right:5px }
.table tr td:first-child + td  + td + td + td + td + td + td + td + td + td{ vertical-align: middle; padding-left:5px; padding-right:5px }
.table tr td:first-child + td  + td + td + td + td + td + td + td + td + td + td{ vertical-align: middle; padding-left:5px; padding-right:5px }
.table tr td:first-child + td  + td + td + td + td + td + td + td + td + td + td + td{ vertical-align: middle; padding-left:5px; padding-right:5px }
.table tr td:first-child + td  + td + td + td + td + td + td + td + td + td + td + td + td{ vertical-align: middle; padding-left:5px; padding-right:5px }
.table tr td:first-child + td  + td + td + td + td + td + td + td + td + td + td + td + td + td{ vertical-align: middle; padding-left:5px; padding-right:5px }
.table tr td:first-child + td  + td + td + td + td + td + td + td + td + td + td + td + td + td + td{ vertical-align: middle; padding-left:5px; padding-right:5px }
.table tr td:first-child + td  + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td{ vertical-align: middle; padding-left:5px; padding-right:5px }
.table tr td:first-child + td  + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td{ vertical-align: middle; padding-left:5px; padding-right:5px }
.table tr td:first-child + td  + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td{ vertical-align: middle; padding-left:5px; padding-right:5px }
.table tr td:first-child + td  + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td{ vertical-align: middle; padding-left:5px; padding-right:5px }
.table tr td:first-child + td  + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td{ vertical-align: middle; padding-left:5px; padding-right:5px }

.table tr th:first-child { vertical-align: top; text-align: center;}
.table tr th:first-child + th { vertical-align: top; text-align: center;} 
.table tr th:first-child + th  + th{ vertical-align: top; text-align: center;}
.table tr th:first-child + th  + th + th{ vertical-align: top; text-align: center;}
.table tr th:first-child + th  + th + th + th{ vertical-align: top; text-align: center;}
.table tr th:first-child + th  + th + th + th + th{ vertical-align: top; text-align: center;}
.table tr th:first-child + th  + th + th + th + th + th{ vertical-align: top; text-align: center;}
.table tr th:first-child + th  + th + th + th + th + th + th{ vertical-align: top; text-align: center;}
.table tr th:first-child + th  + th + th + th + th + th + th + th{ vertical-align: top; text-align: center;}
.table tr th:first-child + th  + th + th + th + th + th + th + th + th{ vertical-align: top; text-align: center;}
.table tr th:first-child + th  + th + th + th + th + th + th + th + th + th{ vertical-align: top; text-align: center;}
.table tr th:first-child + th  + th + th + th + th + th + th + th + th + th + th{ vertical-align: top; text-align: center;}
.table tr th:first-child + th  + th + th + th + th + th + th + th + th + th + th + th{ vertical-align: top; text-align: center;}
.table tr th:first-child + th  + th + th + th + th + th + th + th + th + th + th + th + th{ vertical-align: top; text-align: center;}
.table tr th:first-child + th  + th + th + th + th + th + th + th + th + th + th + th + th + th{ vertical-align: top; text-align: center;}
.table tr th:first-child + th  + th + th + th + th + th + th + th + th + th + th + th + th + th + th{ vertical-align: top; text-align: center;}
.table tr th:first-child + th  + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th{ vertical-align: top; text-align: center;}
.table tr th:first-child + th  + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th{ vertical-align: top; text-align: center;}
.table tr th:first-child + th  + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th{ vertical-align: top; text-align: center;}
.table tr th:first-child + th  + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th{ vertical-align: top; text-align: center;}
.table tr th:first-child + th  + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th{ vertical-align: top; text-align: center;}
.table tr th:first-child + th  + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th{ vertical-align: top; text-align: center;}
.table tr th:first-child + th  + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th{ vertical-align: top; text-align: center;}
.table tr th:first-child + th  + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th + th{ vertical-align: top; text-align: center;}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    text-align: left;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}








	