@(mapDiccionario: Map[String,String], titulo: String, subtitulo: String)

<div style="line-height:0.2;background-color:white;"><br></div>
<div class="container" style="max-width:100%;background-color: #e3f2fd; ">
		<p class="text-uppercase font-weight-bold" style="float: right"><img src='/viewImg/@mapDiccionario.get("logoEmpresa")' width="auto" height="40px"></p>
		<p class="font-weight-bold" align="center" style="font-size:14px;color:blue; height:42px;">@Html(titulo+"<br>"+subtitulo)</p>
</div>








		


