@(mapDiccionario: Map[String,String], listRegiones: List[tables.Regiones])

  <div id='modalProyectoNuevo' class='modal' role='dialog' data-backdrop='static' data-keyboard='false'>
		<div class='modal-dialog modal-dialog-scrollable modal-lg' role='document'>
			<div class='modal-content'>
				<div class='modal-header'>
					<h5 class='modal-title'>AGREGAR NUEVO PROYECTO</h5>
				        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
				          <span aria-hidden='true'>&times;</span>
				        </button>
				</div>
				<div class='modal-body'>
					<form id="formNuevoProyecto">
						<table class="table table-sm table-bordered table-condensed table-fluid">
							<tr>
								<td style="text-align:left;">NOMBRE LARGO: </td>
								<td style="text-align:left;">
									<input type="text" class="form-control left"
										name="nombre"
										id="proyectoNombre"
										autocomplete="off"
										maxlength="100"
										onchange="value = value.trim();">
								</td>
							</tr>
							<tr>
								<td style="text-align:left;">NOMBRE CORTO (*): </td>
								<td style="text-align:left;">
									<input type="text" class="form-control left"
										id="proyectoNickName"
										name="nickName"
										autocomplete="off"
										maxlength="50"
										required
										onchange="value = value.trim();verificaNickProyecto(value);">
								</td>
							</tr>
							<tr>
								<td style="text-align:left;">DIRECCION: </td>
								<td style="text-align:left;">
									<input type="text" class="form-control left"
										name="direccion"
										autocomplete="off"
										maxlength="100"
										onchange="value = value.trim();">
								</td>
							</tr>
							<tr>
								<td style="text-align:left;">@mapDiccionario.get("Region"): </td>
								<td style="text-align:left;">
									<select class="custom-select" 
										name="cod_region" 
										onchange="actualizaComunasProyecto(value);">
										@for(lista <- listRegiones){
											<option value="@lista.codigo">@lista.nombre</option>
										}
									</select>
								</td>
							</tr>
							<tr>
								<td style="text-align:left;">@mapDiccionario.get("Comuna"): </td>
								<td style="text-align:left;">
									<div id="selectComunaProyecto">
										<select class="custom-select" 
											name="cod_comuna" >
											<option value="0"> </option>
										</select>
									</div>
								</td>
							</tr>
							<tr>
								<td style="text-align:left;">Ciudad: </td>
								<td style="text-align:left;">
									<input type="text" class="form-control left"
										name="ciudad"
										autocomplete="off"
										maxlength="30"
										onchange="value = value.trim();">
								</td>
							</tr>
						</table>
					</form>
					<div class="noprint">
						<div class="row justify-content-md-center" >
							<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
								<input type="button"  value="GRABAR PROYECTO" class="btn btn-success btn-sm rounded-pill btn-block" onclick = "grabarProyecto();" data-dismiss='modal'>
							</div>
							<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
								<button type='button' class='btn btn-sm  btn-warning rounded-pill btn-block' data-dismiss='modal'>Cancelar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
<script type="text/javascript">

	const grabarProyecto = () =>{
		if($("#proyectoNickName").val().trim()==""){
	     	alertify.alert('El nombre corto (nickName) del proyecto es obligatorio', function () {
				$("#proyectoNickName").val("");
				$('#modalProyectoNuevo').modal('show');
	 		});
		}else{
			var formData = new FormData(document.getElementById("formNuevoProyecto"));
			$.ajax({
	            url: "/proyectoGrabaAjax/",
	            type: "POST",
	            method: "POST",
	            data: formData,
	            cache: false,
	            contentType: false,
		     	processData: false,
		     	success: function(data){
		     		if(data == "error"){
		     			alertify.alert(msgError, function () {
			     			location.href = "/";
			     		});
		     		}else if(data == "existe"){
						alertify.alert("El proyecto ya existe", function () {
			     		});
						 
		     		}else{
						let id_proyecto = data;
						proyectoGrabaAjax(id_proyecto);
		     		}
		     	}
	        });
		}
	}

	const actualizaComunasProyecto = (cod_region) => {
		var formData = new FormData();
		formData.append('cod_region', cod_region);
	  	$.ajax({
            url: "/selComuna1Ajax/",
            type: "POST",
            method: "POST",
            data: formData,
            cache: false,
            contentType: false,
	     	processData: false,
	     	success: function(data){
	     		if(data=="error"){
	     			alertify.alert(msgError, function () {
		     			location.href = "/";
		     		});
	     		}else{
	     			data = data.replace(/&lt;/g,"<");
					data = data.replace(/&gt;/g,">");
					data = data.replace(/&#x27;/g,"\"");
	     			document.getElementById('selectComunaProyecto').innerHTML = data;
	     		}
	     	}
        });
	}

	const verificaNickProyecto = (proyectoNickName) => {
		var formData = new FormData();
	  	formData.append('nickName',proyectoNickName);
        $.ajax({
            url: "/verificaNickProyectoAjax/",
            type: "POST",
            method: "POST",
            data: formData,
            cache: false,
            contentType: false,
	     	processData: false,
	     	success: function(respuesta){
	     		if(respuesta=="existe"){
	     			alertify.alert('El nombre corto (nickName) del proyecto ya existe, intente con otro', function () {
	     				$("#proyectoNickName").val("");
		     		});
	     		}
	     		if(respuesta=="error"){
	     			alertify.alert(msgError, function () {
		     			location.href = "/";
		     		});
	     		}
	     	}
        });
	}

</script>

