
  <div id='modalEquipoDescripcion' class='modal' role='dialog' data-backdrop='static' data-keyboard='false'>
		<div class='modal-dialog modal-dialog-scrollable modal-lg' role='document'>
			<div class='modal-content'>
				<div class='modal-header'>
					<h5 class='modal-title'>DESCRIPCION DEL EQUIPO</h5>
				        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
				          <span aria-hidden='true'>&times;</span>
				        </button>
				</div>
				<div class='modal-body'>
					<div id="atributosEquipo"></div>
					<div class="noprint">
						<div class="row justify-content-md-center" >
							<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
								<button type='button' class='btn btn-sm  btn-info rounded-pill btn-block' data-dismiss='modal'>Cerrar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
<script type="text/javascript">

	const equipoDescripcion = (id_equipo) => {
		var formData = new FormData();
		formData.append('id_equipo', id_equipo);
	  	$.ajax({
            url: "/equipoDescripcionAjax/",
            type: "POST",
            method: "POST",
            data: formData,
            cache: false,
            contentType: false,
	     	processData: false,
	     	success: function(data){
	     		if(data!="error"){
	     			data = data.replace(/&lt;/g,"<");
					data = data.replace(/&gt;/g,">");
					data = data.replace(/&#x27;/g,"\"");
	     			document.getElementById('atributosEquipo').innerHTML = data;
					$('#modalEquipoDescripcion').modal('show');
	     		}
	     	}
        });
	}
	
	const buscaEquipo = (cod_equipo) =>{
		var formData = new FormData();
		formData.append('cod_equipo', cod_equipo);
	  	$.ajax({
            url: "/equipoFindIdForCodAjax/",
            type: "POST",
            method: "POST",
            data: formData,
            cache: false,
            contentType: false,
	     	processData: false,
	     	success: function(data){
	     		if(data!="error"){
	     			equipoDescripcion(data);
	     		}
	     	}
        });
	}

</script>

