@(listProyectos: List[List[String]])

@main("") {

<div class="row  justify-content-md-center">
	<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
		<h1>ADMIN</h1>
		<table id="tablaPrincipal" class="table table-sm table-hover table-bordered table-condensed table-fluid">
			<thead style="background-color: #eeeeee">
	        	<TR> 
	        		<TH style="text-align:center;">Nro</TH>
	        		<TH style="text-align:center;">PAIS</TH>
			        <TH style="text-align:center; min-width:80px;">FECHA<br>CREADO</TH>
					<TH style="text-align:center;">NOMBRE EMPRESA</TH>
					<TH style="text-align:center;">ULTIMO<br>INGRESO</TH>
				
				<TH style="text-align:center;">ULTIMO<br>MOVIMIENTO</TH>
				<TH style="text-align:center;">CANTIDAD<br>MOVIMIENTOS</TH>
				<TH style="text-align:center;">ULTIMO<br>ODO</TH>
				<TH style="text-align:center;">CANTIDAD<br>ODO</TH>
					<TH style="text-align:center;">SELECT</TH>
				</TR>
			</thead>
			<tbody>
				@for(lista1 <- listProyectos){
					<TR>
						<td style="text-align:center;">@lista1.get(0)</td>
						<td style="text-align:left;">@lista1.get(5)</td>
						<td style="text-align:center;">
							<div style="display:none">@utilities.Fechas.AAMMDD(lista1.get(1))</div>
							@lista1.get(1)
						</td>
						<td style="text-align:left;">@lista1.get(3)</td>
						<td style="text-align:center;">
							<div style="display:none">@utilities.Fechas.AAMMDD(lista1.get(8))</div>
							@lista1.get(8)
						</td>
						
						<td style="text-align:center;">
							<div style="display:none">@utilities.Fechas.AAMMDD(lista1.get(6))</div>
							@lista1.get(6)
						</td>
						<td style="text-align:center;">@lista1.get(7)</td>
						<td style="text-align:center;">
							<div style="display:none">@utilities.Fechas.AAMMDD(lista1.get(9))</div>
							@lista1.get(6)
						</td>
						<td style="text-align:center;">@lista1.get(10)</td>
						<td style="text-align:center;">
							<a href="/inicio2Admin/@lista1.get(4)">
								<kbd style="background-color: #73C6B6">select</kbd>
							</a>
						</td>
					</TR>
			 	}
			</tbody>
		</table>
	</div>
</div>


		
}

<script type="text/javascript">
	$(document).ready(function() {
	    $('#tablaPrincipal').DataTable({
	    	"fixedHeader": true,
	    	"lengthMenu": [[-1, 20, 50, 100, 200], ["ALL", 20, 50, 100, 200]]
	    } );
	} );
</script>
	
	
	
	
	
	
	