# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# IntelliJ / Eclipse
.idea/
.classpath
.project
.settings/

# Build
target/
project/target/
.bsp/

# Logs
logs/

# OS
.DS_Store